@font-face {
  font-family: 'Cooper';
  src: url('/fonts/Cooper/Cooper-BlackItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Cooper Extra Bold';
  src: url('/fonts/Cooper/Cooper-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Charter Regular';
  src: url('/fonts/Charter/Charter-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Charter Bold';
  src: url('/fonts/Charter/Charter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}