---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	
	<div class="wrapper">
		<div class="main-div">
			<h1>Main</h1>
			<p class="main-frase">YOU KNOW WHAT I'M CRAVING ? A LITTLE</p>
			<p class="bold-word">PERSPECTIVE</p>
			<div>
				<img src="/public/mainEagle.jpeg" alt="eagle image">
			</div>
		</div>
		
	</div> 
</Layout>

<style>
	.wrapper {
		
        display: flex;
        justify-content: center;
        align-items: center;
		.main-div{
			.main-frase{
				font-family: Arial, Helvetica, sans-serif;
        		font-weight: bold;
			}
			.bold-word{
                
            }   
    	}
			img{
				width: 300px;
			}
		}

    }
</style>
