<footer>
    <div>
        <p>2025 @ODJU</p>
        <a href="">Contact Us </a>
        <a href="">Legal </a>
        <a href="">T&C</a>
    </div>
</footer>

<style>
    footer{
        padding: 20px;
        div{
            display: flex;
            gap: 60px;
            align-items: center;
            justify-content: center;
            p{
                margin: 0;
                padding: 0;
            }
            a {
                display: block;
                text-decoration: none;
                color:black;
            }
        }
    }
</style>