<header  role="banner">
  <nav  role="navigation" aria-label="Primary Navigation">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="/">Main</a></li>
      <li class="header__nav-item"><a href="/about">About</a></li>
      <li class="header__nav-item"><a href="/work">Work</a></li>
      <li class="header__nav-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>


<style>
  header {
    nav{
        background-color: red;
    }
  }
</style>